<button ng-click="createItem()">Create Item</button>
<button ng-click="register()">Register</button>
Search: <input type="text" ng-model="search.name">
<ul>
  <li ng-repeat="product in products | filter: search">
        <div ng-click="go(product._id)">
                {{product.name}}
                <img src="/uploads/{{product.image1}}" width="200" height="200">
        </div>
  </li>
</ul>

<br></br>
<br></br>

<button ng-disabled="currentPage <= 1" ng-click="previous()">previous</button>
{{currentPage}}/ {{pages}}
<button ng-disabled="currentPage >= pages" ng-click="next()">next</button>