<!--
<h1>Enter Product Details</h1>
Product Name <input type="text" ng-model="newProduct">
<br><br>
Product Description <input type="text" ng-model="Description">
<button ng-click="save()">Create</button>
-->

<br><br>
<br><br>

<form method="post" enctype="multipart/form-data" action="/">
    <div class="form-group row" >
        <div class="col-md-1" style="float: left;">
            <label for="title" class="col-sm-2 col-form-label" >Title</label>
        </div>
        <div class="col-sm-3" style="float: left;">
            <input type="text" name="title" placeholder="title" class="form-control" required>
        </div>
        <div class="col-sm-3" style="float: left;">
            <input type="text" name="description" placeholder="description" class="form-control" required>
        </div>
        <div class="col-sm-3" style="float: left;">
            <input type="text" name="cost" placeholder="cost" class="form-control" required>
        </div>
        <div class="col-sm-3" style="float: left;">
            <select name="category" class="form-control" required>
                <option value="Electronics">Electronics</option>
                <option value="Farm">Farm</option>
                <option value="Literature">Literature</option>
                <option value="Gaming">Gaming</option>
              </select>
        </div>
    </div>
    <div class="form-group row" >
        <div class="col-lg-2" style="float: left;">
            <input type="file" name="upl" class="form-control-file">
        </div>
    </div>
    <div class="form-group row" >
        <div class="col-lg-2" style="float: left;">
            <input type="file" name="upl1" class="form-control-file">
        </div>
    </div>
    <div class="form-group row" >
        <div class="col-lg-2" style="float: left;">
            <input type="file" name="upl2" class="form-control-file">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-2" style="float: left;">
            <input type="hidden" name="user" class="form-control" value="{{template.user}}" hidden>
        </div>
    </div>
    <div class="form-group row" >
        <div class="col-lg-2" style="float: left;">
            <input type="submit" class="btn btn-primary">
        </div>
    </div>
</form>