<h1>Enter Product Details</h1>
Product Name <input type="text" ng-model="newProduct">
<br><br>
Product Description <input type="text" ng-model="Description">
<button ng-click="save()">Create</button>

<br><br>
<br><br>

<form ng-submit="Submit();">
    <label class="btn btn-success">
        Browse
        <input type="file" ng-disabled="uploading" file-model="file.upload" name="myfile" style="display: none;" onchange="angular.element(this).scope().photoChanged(this.files)">
    </label>
    <br>
    <br>
    <button ng-disabled="uploading" type="submit" class="btn btn-primary">Upload</button>
</form>

<br><br>
<br><br>

<img class="mythumbnail" ng-src="{{ thumbnail.dataUrl || default }}">