<!DOCTYPE html>
<html ng-app="app" ng-controller="indexCtrl">
  <head>
    <title></title>
    <link rel="stylesheet" href="//rawgit.com/twbs/bootstrap/v3.3.1/dist/css/bootstrap.css">
  </head>
  <body>

    <!-- Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.js"></script>
    <script src="/public/script.js"></script> 

    <h1>{{ template.siteName }} {{ template.user }}</h1>

    <div ng-click="login()">Login</div>

    <ng-view></ng-view>

  </body>
</html>