<!DOCTYPE html>
<html ng-app="app" ng-controller="indexCtrl">
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <!-- Libraries -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.js"></script>
    <script src="/public/script.js"></script> 
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <link href="/public/bootstrap.min.css" rel="stylesheet">

    <h1>{{ template.siteName }} {{ template.user }}</h1>

    <div ng-show=" template.user == '' " ng-click="login()">Login</div>
    <div ng-show=" template.user != '' " ng-click="logout()">Logout</div>
    <div ng-show=" template.user != '' " ng-click="basket()">Basket</div>    
    <div ng-show=" template.user != '' " ng-click="creditCard()">Add Card</div>
    <div ng-show=" template.user != '' " ng-click="soldItems()">Sold Items</div>
    <div ng-show=" template.user != '' " ng-click="boughtItems()">Bought Items</div>
    <div ng-show=" template.user != '' " ng-click="editUser()">Edit Account</div>

    <select class="form-control" ng-model="category" ng-options="x for x in categories" ng-change="select()">
    </select>

    € from <input ng-change="select()" ng-model="min" ng-model-options="{debounce: 1000}"> to <input ng-change="select()" ng-model="max" ng-model-options="{debounce: 1000}"> 

    <ng-view></ng-view>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script rel="stylesheet" tpye="text/css" href="/public/bootstrap.js"></script> 
  </body>
</html>