<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>

    <ng-view></ng-view>

    <!-- Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>

      <!-- Template -->
      <script type="text/ng-template" id="/products.html">
        Search: <input type="text" ng-model="search.name">
        <ul>
          <li ng-repeat="product in products | filter: search">
                <div ng-click="go(product._id)">
                        {{product.name}}
                </div>
          </li>
        </ul>
        New Product <input type="text" ng-model="newProduct"><button ng-click="save()">Create</button>
      </script>

      <script type="text/ng-template" id="/productDetails.html">
        <h1>{{ product.name }}</h1>
        Description: <textarea ng-model="product.description"></textarea><br><br>
        
        <button ng-click="update()">Update</button>
        <br><br>
        <a href="/">Cancel</a>
      </script>

    <script>
      angular.module('app', ['ngRoute', 'ngResource'])
        //---------------
        // Services
        //---------------
        .factory('Products', ['$resource', function($resource){
          return $resource('/products/:id', null, {
            'update': { method:'PUT' }
          });
        }])
        //---------------
        // Controllers
        //---------------
        .controller('ProductController', ['$scope', '$routeParams', 'Products', '$location', function ($scope, $routeParams, Products, $location) {
          $scope.editing = [];
          $scope.products = Products.query();
          $scope.save = function(){
            if(!$scope.newProduct || $scope.newProduct.length < 1) return;
            var product = new Products({ name: $scope.newProduct });
            product.$save(function(){
              $scope.products.push(product);
              $scope.newProduct = ''; // clear textbox
            });
          }
          $scope.go = function(index){
            $location.url(index);
          }
        }])
        .controller('ProductDetailCtrl', ['$scope', '$routeParams', 'Products', '$location', function ($scope, $routeParams, Products, $location) {
          $scope.product = Products.get({id: $routeParams.id });
          $scope.update = function(){
            Products.update({id: $scope.product._id}, $scope.product, function(){
              $location.url('/');
            });
          }
        }])
        //---------------
        // Routes
        //---------------
        .config(['$routeProvider', function ($routeProvider, $locationProvider) {
          $routeProvider
            .when('/', {
              templateUrl: '/products.html',
              controller: 'ProductController'
            })
            .when('/:id', {
              templateUrl: '/productDetails.html',
              controller: 'ProductDetailCtrl'
           });
        }]);
    </script>
  </body>
</html>