<h1>Enter Details</h1>

<form name="loginform">
    Email <input type="email" ng-model="email" name="email" required>
    <br><br>
    Password <input type="password" ng-model="password" name="password" required>
    <br><br>
</form>

<button ng-click="login()">Login</button>