<h1>{{ product.name }}</h1>
€<input ng-model="product.cost" value="product.cost">
<h2>{{ product.description }}</h2>

<button ng-click="update()">Update</button>
<button ng-click="basket()">Add to basket</button>
<br><br>
<a href="/">Cancel</a>