<div id="wrap">
    <div class="container">
        <form method="POST">
            <div class="form-group">

                <div class="form-row justify-content-center">
                    <div class="col-xs-2">
                        <h2> Account Details </h2>
                        <div class="form-group">
                            <div class="col-xs-3 align-self-center">
                                <label> Your Name: </label>
                            </div>
                            <div class="col-xs-2">
                                <input class="form-control" type="text" ng-model="name" name="name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-3 align-self-center">
                                <label> Your Email: </label>
                            </div>
                            <div class="col-xs-2">
                                <input class="form-control" type="email" ng-model="email" name="email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-2 align-self-center">
                                <label> Your Username: </label>
                            </div>
                            <div class="col-xs-2">
                                <input class="form-control" type="text" ng-model="username" name="username" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-2 align-self-center">
                                <label> Your Area: </label>
                            </div>
                            <div class="col-xs-2">
                                <input class="form-control" type="text" ng-model="area" name="area" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-2 align-self-center">
                                <label> Your Town: </label>
                            </div>
                            <div class="col-xs-2">
                                <input class="form-control" type="text" ng-model="town" name="town" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-2 align-self-center">
                                <label> Your County: </label>
                            </div>
                            <div class="col-xs-2">
                                <input class="form-control" type="text" ng-model="county" name="county" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-2 align-self-center">
                                <label> Your Password: </label>
                            </div>
                            <div class="col-xs-2">
                                <input class="form-control" type="text" ng-model="password" name="password" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-2 align-self-center">
                                <label> Confirm Password: </label>
                            </div>
                            <div class="col-xs-2">
                                <input class="form-control" type="text" ng-model="password2" name="password2" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row justify-content-center">
                <div class="col-xs-4">
                    <button class="btn btn-primary" ng-click="save()">Create</button>
                </div>
            </div>
            <div id="push"></div>
        </form>
    </div>
</div>

<!--
    <a href="/">Cancel</a>
    -->