<h1>Enter Details</h1>

<form name="registerform">
    Name <input type="text" ng-model="name" name="name" required>
    <br><br>
    Email <input type="email" ng-model="email" name="email" required>
    <br><br>
    Username<input type="text" ng-model="username" name="username" required>
    <br><br>
    Password <input type="password" ng-model="password" name="password" required>
    <br><br>
    Password <input type="password" ng-model="password2" name="password2" required>
    <br><br>
</form>

<button ng-click="login()">Create</button>