<h1>Enter Details</h1>

<input ng-show="err == true" ng-model="showError" readonly>
<input ng-show="err2 == true" ng-model="showError2" readonly>

<form name="registerform">
    Name <input type="text" ng-model="name" name="name" required>
    <br><br>
    Email <input type="email" ng-model="email" name="email" required>
    <br><br>
    Username<input type="text" ng-model="username" name="username" required>
    <br><br>
    Area <input type="text" ng-model="area" name="area" required>
    <br><br>
    Town <input type="text" ng-model="town" name="town" required>
    <br><br>
    County <input type="text" ng-model="county" name="county" required>
    <br><br>
    Password <input type="password" ng-model="password" name="password" required>
    <br><br>
    Password <input type="password" ng-model="password2" name="password2" required>
    <br><br>
</form>

<button ng-click="save()">Create</button>