<div id="wrap">
        <div class="container">
            <form method="POST" name="loginform">
                <div class="form-group">
                    <div class="form-row justify-content-center">
                        <div class="col-xs-2">
                            <h2> Enter New Password </h2>
                            <div class="form-group">
                                <div class="col-xs-3 align-self-center">
                                    <label> Your New Password: </label>
                                </div>
                                <div class="col-xs-2">
                                    <input class="form-control" type='text' ng-model="password" name="password" required/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="col-xs-4">
                            <button class="btn btn-primary" ng-click="newPassword()">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>