<ul>
  <li ng-repeat="product in products">
        <div ng-click="go(product._id)">
                {{product.name}}
                <img src="/uploads/{{product.image1}}" width="200" height="200">
        </div>
  </li>
</ul>