<div id="wrap">
    <div class="container">
        <form method="POST">
            <div class="form-group">

                <div class="form-row justify-content-center">
                    <div class="col-xs-2">
                        <h2> Account Details </h2>
                        <div class="form-group">
                            <div class="col-xs-3 align-self-center">
                                <label> Your Name: </label>
                            </div>
                            <div class="col-xs-2">
                                <input class="form-control" type='text' ng-model="card.number" placeholder="{{user[0].name}}" readonly/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-3 align-self-center">
                                <label> Your Username: </label>
                            </div>
                            <div class="col-xs-2">
                                <input class="form-control" type='text' ng-model="card.cvc" placeholder="{{user[0].username}}" readonly/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-2 align-self-center">
                                <label> Your Email: </label>
                            </div>
                            <div class="col-xs-2">
                                <input class="form-control" type='text' ng-model="card.cvc" placeholder="{{user[0].email}}" readonly/>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-row justify-content-center">
                    <div class="col-xs-2">
                        <h4> Address Details </h4>

                        <div class="form-group">
                            <div class="col-xs-2 align-self-center">
                                <label> Your Area: </label>
                            </div>
                            <div class="col-xs-2">
                                <input class="form-control" type='text' ng-model="area" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-2 align-self-center">
                                <label> Your Town: </label>
                            </div>
                            <div class="col-xs-2">
                                <input class="form-control" type='text' ng-model="town" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-2 align-self-center">
                                <label> Your County: </label>
                            </div>
                            <div class="col-xs-2">
                                <input class="form-control" type='text' ng-model="county" required/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row justify-content-center">
                <div class="col-xs-4">
                    <button class="btn btn-primary" ng-click="update()">Update</button>
                </div>
            </div>
            <div id="push"></div>
        </form>
    </div>
</div>

<!--
<a href="/">Cancel</a>
-->