<br></br>
<br></br>
{{user[0].name}}
{{user[0].username}}
{{user[0].email}}
<input type="text" ng-model="area">
<input type="text" ng-model="town">
<input type="text" ng-model="county">

<button ng-click="update()">Update</button>
<br><br>
<a href="/">Cancel</a>