<br></br>
<br></br>
{{user[0].name}}
{{user[0].username}}
{{user[0].email}}
<input ng-model="area" placeholder="{{user[0].area}}">
<input ng-model="town" placeholder="{{user[0].town}}">
<input ng-model="county" placeholder="{{user[0].county}}">

<button ng-click="update()">Update</button>
<br><br>
<a href="/">Cancel</a>